
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.menu-principal{

}
.menu-principal > na >ul {
    list-style: none;
}

.menu-principal > nav > ul > li {
    display: inline;
    margin-right: 20px;
}

.menu-principal > nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo de las secciones */
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
}

.section-color1 {
    background-color: #F0A500; /* Color para la Sección 1 */
}

.section-color2 {
    background-color: #3B9CFF; /* Color para la Sección 2 */
}

.section-color3 {
    background-color: #FF3B3F; /* Color para la Sección 3 */
}
